*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./gambg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Teko',sans-serif;
}


.container{
    height: 700px;
    width: 70%;
    background: linear-gradient(rgba(20, 30, 48, 0.9), rgba(36, 59, 85, 0.9));;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    
}
.title{
    font-family: 'Teko',sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: orangered;
}
.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
    
    /* padding: 30px; */
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.score-info{
    width: 90%;
}
.players{
    width: 250px;
    height: 250px;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border-radius: 10%;
    border: 3px solid silver;
}
.score{
    display: flex;
    gap: 100px;
    align-items: center;
    color: orangered;
    font-size: 2rem;
    
}
.round-results{
    text-align: center;
    transition: all 0.5ms;
}
/* .choice{
    font-size: 3em;
} */

.controls{
    margin-top: 50px;
    display:flex;
    justify-content: center; 
    gap: 80px;
}
button{
    border: 5px solid orangered ;
    width: 100px;
    height: 100px;
    font-size: 3em;
    border-radius: 50%;
    box-shadow: 2px 4px #141e30;
    background-color: #141e30;
    transition: all ease-out 0.2s;
}
button:hover{
    background-color: #243b55;
    box-shadow: 0px 15px 20px rgba(240, 91, 5, 0.548);
  color: #fff;
  transform: translateY(-7px);
}