*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./gambg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Teko',sans-serif;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 136, 7, 0.473);
    transform: scale(0);
    transition: all ease-in 0.4s;

}
.overlay.active{
    transform: scale(1);
}
.reset{
    background-color: #141e30;
    position: fixed;
    width: 400px;
    height: 300px;
    top:50%;
    left:50%;
    z-index: 10;
    transform: scale(0);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    padding: 100px;
    gap: 15px;
    transition: all ease-in 0.5s;
}
.reset.active{
    transform: scale(1);
    transform: translate(-50%,-50%);
}
.result{
    text-align: center;
    color: teal;
    font-size: 2rem;;
}
.result.fail{
    color: crimson;
}
.reset-button{
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    border: none;
    width: 80px;
    height: 40px;
    color: orangered;
    background-color: #141e30;
    border:  2px solid orangered;
    border-radius: 5px;
    transition: all ease-in 0.3s;
}
.reset-button:hover{
    background-color: orangered;
    color: #141e30;
}


.container{
    height: 700px;
    width: 70%;
    background: linear-gradient(rgba(20, 30, 48, 0.9), rgba(36, 59, 85, 0.9));;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    border: 2px solid orangered;
}
.title{
    font-family: 'Teko',sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: orangered;
}
.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
    
    /* padding: 30px; */
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.score-info{
    width: 90%;
    
}
.players{
    width: 250px;
    height: 250px;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border-radius: 10%;
    border: 3px solid orangered;
    background-color: #141e30;
}
.score{
    display: flex;
    gap: 50px;
    align-items: center;
    color: orangered;
    font-size: 2rem;
    
    
}
.round-results{
    background-color: #141e30;
    width: 300px;
    text-align: center;
    transition: all ease-in 0.5s;
    padding: 10px;
    border: 3px solid orangered;
    border-radius: 10%;
    
}
/* .choice{
    font-size: 3em;
} */

.controls{
    margin-top: 50px;
    display:flex;
    justify-content: center; 
    gap: 80px;
}
button.choices{
    border: 5px solid orangered ;
    width: 100px;
    height: 100px;
    font-size: 3em;
    border-radius: 50%;
    box-shadow: 2px 4px #141e30;
    background-color: #141e30;
    transition: all ease-out 0.2s;
}
button.choices:hover{
    background-color: #243b55;
    box-shadow: 0px 15px 20px rgba(240, 91, 5, 0.548);
  color: #fff;
  transform: translateY(-7px);
}